@page
@model CursosOnline.Pages_Students.IndexModel

@{
    ViewData["Title"] = "Dev Cursos | Alunos";
}

<h1>Lista de alunos</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Adicionar aluno</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Cellphone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-page="./Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-outline-dark" asp-page="./Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
