@page
@model CursosOnline.Pages_Subscribers.DeleteModel

@{
    ViewData["Title"] = "Dev Cursos | Deletar Premium";
}

<h1>Deletar Premium</h1>

<h3>Tem certeza que deseja deletar o aluno Premium?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.Student.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Subscriber.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a class="btn btn-outline-light" asp-page="./Index">Voltar para a lista</a>
    </form>
</div>
